:root {
	--color-main-bg: #fff;
	--color-main: #000;
	--color-blue: #0066ff;
	--color-red: #ff5f5f;
	--color-turq: #00a9d0;
	--color-bronze: #ba670d;
	--color-purple: #cbcbff;

	--font-family: 'IBM Plex Sans', sans-serif;
	--font-size-1: 2.441rem;
	--font-size-2: 1.25rem;

	--grid-12: repeat(12, 1fr);
	--grid-8: repeat(8, 1fr);
	--grid-6: repeat(6, 1fr);
	--grid-4: repeat(4, 1fr);
	--grid-2: repeat(2, 1fr);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:selection {
	background: var(--color-purple);
}
::-moz-selection {
	background: var(--color-purple);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* transition: color 0.4s ease, border-color 0.4s ease,
		background-color 0.4s ease; */
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
strong,
em,
small,
time,
span time,
span a,
li span.title,
input,
textarea,
form button {
	transition: color 0.4s ease, border-color 0.4s ease,
		background-color 0.4s ease;
}

button {
	color: var(--color-main);
	background-color: transparent;
	font-family: var(--font-family);
	font-size: var(--font-size-2);
	border: none;
	border-bottom: 1px solid transparent;
	width: max-content;
	height: min-content;
}

a {
	text-decoration: none;
	color: var(--color-main);
	border-bottom: 1px solid transparent;
}

.image-container__description p,
.about__description p {
	margin: 1rem 0;
}

.image-container__description p:first-child,
.about__description p:first-child {
	margin-top: 0;
}

.image-container__description p:last-child,
.about__description p:last-child {
	margin-bottom: 0;
}

a:hover,
a:hover *,
button:hover,
button:hover * {
	cursor: pointer;
	transition: color 0s, border-color 0s, background-color 0s !important;
}

html {
	font-family: var(--font-family);
	font-size: 62.5%;
	font-weight: 400;
	z-index: 0;
	overflow-x: hidden;
	overflow: visible;
}

h1 {
	font-weight: 500;
}

h2,
h3 {
	font-weight: 400;
}

b {
	font-weight: 500;
}

ul {
	list-style: none;
}

a:hover,
button:hover {
	color: var(--color-blue);
	border-bottom: 1px solid var(--color-blue) !important;
}

.git button:hover {
	border-bottom: 1px solid var(--color-turq) !important;
}

/* ----TOP LEVEL---- */
.page {
	background-color: var(--color-main-bg);
	padding: 4rem;
	color: var(--color-main);
	font-size: var(--font-size-2);
	position: relative;
	height: 100vh;
}

/* ----SEO----- */
.title,
.title-cash {
	position: relative;
	font-size: var(--font-size-2);
	font-weight: 500;
}

.title-cash::before {
	position: absolute;
	left: -1rem;
	color: var(--color-blue);
	content: '$';
	font-weight: 400;
}

.arrow {
	position: relative;
}

.arrow::after {
	pointer-events: none;
	position: absolute;
	right: -3ch;
	color: var(--color-blue);
	content: '—>';
	font-weight: 400;
}
/* ----OLD STYLING---- */
.bronze {
	position: relative;
}

.bronze a:hover {
	color: var(--color-bronze);
	border-bottom: 1px solid var(--color-bronze);
}

.bronze::before {
	position: absolute;
	left: -1rem;
	color: var(--color-bronze);
	font-size: var(--font-size-2);
	content: '•';
}

.text {
	font-size: var(--font-size-1);
}

.vid {
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-main);
	/* transition: border 0.4s ease; */
	grid-row: 1 / span 3;
}

.vid video {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.mobile {
	display: none;
}

/* ----NAVIGATION---- */
.git {
	position: absolute;
	top: 1.5rem;
	left: 4rem;
}

.git span:nth-child(1) {
	color: var(--color-red);
}

.git button:nth-child(2) {
	color: var(--color-turq);
	cursor: pointer;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

.git span:nth-child(3) {
	color: var(--color-blue);
}

.nav {
	position: absolute;
	top: 1.5rem;
	left: 4rem;
	padding: 0 4rem;
	display: grid;
	grid-template-columns: var(--grid-12);
	width: calc(100vw - 8rem);
	gap: 2rem;
}

.nav span:nth-child(1) {
	grid-column: 3 / span 1;
}

.nav ul {
	grid-column: 3 / span 6;
	display: grid;
	grid-template-columns: var(--grid-6);
	gap: 2rem;
}

.nav a[aria-current='page'] {
	color: var(--color-blue);
	border-bottom: 1px solid var(--color-blue) !important;
}

.mobile-nav {
	display: none;
}

.menu-button {
	display: none;
	position: absolute;
	top: 1.5rem;
	right: 2rem;
}

/* ----MAIN CONTENT---- */
.content {
	padding: 4rem;
	border: 1px solid var(--color-main);
	height: calc(100vh - 8rem);
	overflow-y: scroll;
}

.content___overlay {
	padding-bottom: 2rem;
	position: relative;
	background-color: transparent;
	display: grid;
	grid-template-columns: var(--grid-12);
	grid-template-rows: minmax(min-content, max-content);
	gap: 0 2rem;
}

.content___overlay > * {
	grid-column: 1 / span 6;
}

.content___overlay > a {
	width: max-content;
	height: min-content;
}

.header-title {
	margin-bottom: 2rem;
}

.portable-text {
	break-inside: avoid;
}

.portable-text p {
	margin: 1rem 0;
}

.portable-text p:first-child {
	margin-top: 0;
}

.portable-text p:last-child {
	margin-bottom: 0;
}

.about .portable-text {
	column-count: 2;
}

/* ----FOOTER---- */
footer {
	position: absolute;
	bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 8rem);
}

.info {
	list-style: none;
}

.info > li {
	display: inline-block;
}

.info > li:not(:last-child) {
	margin-right: 2rem;
}

.info > li:first-child .title:before {
	position: relative;
	margin-right: 0.5ch;
	color: var(--color-blue);
	content: '$';
	font-weight: 400;
}

.info .info-m {
	display: none;
}

/* ----IMAGE CONTAINER---- */
.image-container___overlay {
	grid-column: 7 / span 6;
	grid-row: 1 / -1;
	width: 100%;
	position: absolute;
}

.image-container,
.video-container {
	width: 100%;
	height: min-content;
	display: grid;
	grid-template-columns: var(--grid-6);
	grid-template-rows: minmax(min-content, max-content);
	gap: 2rem;
	background-color: var(--color-main-bg);
}

.image-container {
	position: relative;
}

.video-container {
	position: absolute;
	grid-column: 7 / span 6;
	grid-row: 1 / -1;
}

.image-container__image,
.video-container video {
	width: 100%;
	height: 36.1rem;
	border: 1px solid var(--color-main);
	grid-column: 1 / -1;
	grid-row: 1;
}

.image-container__title,
.image-container__description,
.image-container__year {
	grid-row: 2;
}

.image-container__title {
	grid-column: 1 / 2;
}

.image-container__description {
	grid-column: 2 / span 4;
}

.image-container__year {
	text-align: right;
	grid-column: 6 / 6;
}

/* ----CONTACT PAGE---- */

.netlify-form {
	margin-top: 2rem;
	position: absolute;
	grid-column: 7 / span 6;
	grid-row: 1 / -1;
	width: 100%;
}

.netlify-form .form___input,
.netlify-form button {
	width: 100%;
	height: 3.5rem;
	margin-bottom: 6rem;
	border: none;
	font-size: var(--font-size-1);
	font-family: var(--font-family);
}

.netlify-form .form___input-container {
	position: relative;
}

.netlify-form .form___input {
	border-bottom: 1px solid var(--color-main);
	background-color: transparent;
	color: var(--color-main);
}

.netlify-form textarea {
	resize: vertical;
	width: 100%;
	min-height: 10rem;
	overflow: visible;
}

.netlify-form > button {
	width: max-content;
	background: none;
	color: var(--color-main);
}

.netlify-form > button:hover {
	cursor: pointer;
	color: var(--color-blue);
}

.netlify-form > .error:hover {
	cursor: pointer;
	color: red;
	border-bottom: 1px solid red !important;
}

.error-input {
	border-bottom: 1px solid red !important;
}

.error-text {
	position: absolute;
	bottom: 4rem;
	left: 0;
	color: red;
	font-size: 1.2rem;
	margin: 0;
}

/* ----WORK PAGE---- */
.work__projectList {
	width: 80%;
}
.work__projectList > li {
	width: 100%;
}

.work__projectList > li button {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	display: flex;
	justify-content: space-between;
	font-size: 2.4rem;
	border-bottom: 1px solid transparent;
}

.work .close-work {
	grid-column: none;
	position: absolute;
	top: -2rem;
	right: 0rem;
	display: none;
	z-index: 1;
}

@media only screen and (max-width: 1105px) {
	.work__projectList {
		width: 100%;
	}
}

@media only screen and (max-width: 1076px) {
	.info .info-m {
		display: inline-block;
	}

	.info .info-d {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.nav,
	.content___overlay {
		grid-template-columns: var(--grid-8);
	}

	.nav ul {
		grid-column: 5 / -1;
		grid-template-columns: var(--grid-4);
	}

	.content___overlay > * {
		grid-column: 1 / span 4;
	}

	.image-container___overlay {
		grid-column: none;
		position: absolute;
		left: calc(-4rem - 1px);
		top: calc(-4rem - 1px);
		width: calc(100vw - (8rem - -1px));
		padding: 4rem;
		background-color: var(--color-main-bg);
	}

	.about .image-container___overlay {
		grid-column: 5 / span 4;
		width: 100%;
		padding: 0rem;
		top: 0;
		left: 0;
	}

	.video-container,
	.netlify-form {
		grid-column: 5 / span 4;
	}

	.image-container__image,
	.video-container video {
		height: 31.575rem;
	}

	.work .image-container__image {
		height: 48.544rem;
	}

	.close-work.open {
		display: block;
	}

	.close-work.closed {
		display: none;
	}

	.about .portable-text {
		column-count: 1;
	}
}

@media only screen and (max-width: 990px) {
	.work .header-title {
		grid-column: 1 / span 5;
	}
}

@media only screen and (max-width: 834px) {
	.work .image-container__image {
		height: 37.8rem;
	}
}

@media only screen and (max-width: 820px) {
	.work .header-title {
		grid-column: 1 / span 6;
	}
}

@media only screen and (max-width: 768px) {
	.content___overlay > * {
		grid-column: 1 / -1;
	}

	.about .image-container___overlay,
	.home .video-container {
		position: relative;
		grid-column: 1 / -1;
		grid-row: 2;
		margin-bottom: 2rem;
	}

	.contact .netlify-form {
		position: relative;
		grid-column: 1 / -1;
		grid-row: 4;
	}

	.image-container__image {
		height: 33.975rem;
	}

	.work .image-container__image {
		height: 34.088rem;
	}
}

@media only screen and (max-width: 700px) {
	.work .header-title {
		grid-column: 1 / span 7;
	}
}

@media only screen and (max-width: 625px) {
	.info .info-m {
		display: none;
	}

	.work .header-title {
		grid-column: 1 / span 8;
	}

	.work__projectList > li {
		margin: 1rem 0;
	}

	.work__projectList > li button span {
		text-align: left;
	}
}

@media only screen and (max-width: 414px) {
	.page {
		padding: 4rem 2rem;
	}

	.git {
		left: 2rem;
	}

	.nav {
		display: none;
	}

	.mobile-nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: var(--color-main-bg);
		top: 4rem;
		left: calc(2rem - 1px);
		right: 2rem;
		bottom: 4rem;
		border: 1px solid var(--color-main);
		z-index: 2;
		padding: 2rem;
	}

	.menu-button {
		display: block;
	}

	#mobile-menu li {
		font-size: var(--font-size-1);
		margin: 1rem 0;
	}

	#mobile-menu li:first-child {
		margin-top: 0;
	}

	#mobile-menu li:last-child {
		margin-bottom: 0;
	}

	.footer-nav ul > li {
		margin: 1rem 0;
	}

	.footer-nav ul > li:first-child {
		margin-top: 0;
	}

	.footer-nav ul > li:last-child {
		margin-bottom: 0;
	}

	.content {
		padding: 2rem;
		width: calc(100vw - 4rem);
	}

	.work .close-work {
		top: 0;
	}

	.image-container___overlay {
		left: calc(-2rem - 1px);
		top: calc(-2rem - 1px);
		width: calc(100vw - (4rem - -1px));
		padding: 2rem;
	}

	.image-container {
		padding-bottom: 2rem;
	}

	.image-container,
	.video-container {
		grid-template-columns: var(--grid-4);
	}

	.image-container__title {
		grid-column: 1 / 3;
	}

	.image-container__description {
		grid-column: 1 / -1;
		grid-row: 3;
	}

	.image-container__year {
		grid-column: 4;
	}

	.work .image-container {
		top: 2rem;
		padding: 0;
		max-width: calc(100vw - (8rem + 2px));
	}

	.work .image-container__image {
		height: 18.675rem;
	}

	footer {
		width: calc(100vw - 4rem);
	}
}
